nano
tmux
xterm
libstdc++-12-dev
clang
ninja-build
libglu1-mesa-dev
libxcb-xinerama0
libxcb-xinput0
libxcb-xinput-dev
libxcb-xfixes0-dev
libxcb-xkb-dev
libxkbcommon-dev
libxkbcommon-x11-dev
libfontconfig1-dev
libpcre2-16-0
zlib1g-dev
mesa-common-dev
libstdc++-12-dev
libunwind-dev
libzstd-dev
git-lfs
python3-vcstool
wget

ros-humble-ackermann-msgs
ros-humble-control-toolbox
ros-humble-nav-msgs
ros-humble-gazebo-msgs
ros-humble-xacro
